.ClienteAltaFormHeader-Title {
	color: #61728C;
}

.ClienteAltaFormHeader-TitleSec {
	color: #AAAAAA;
}

.ClienteAltaFormFooter {
	margin-top: 10px;
}

.ClienteAltaLeft {
	height: 100%;
	background-image: url("../assets/IMAGEN_DE_RECUADRO.jpg");
}
