/* Modificación de columna del framework semantic */
.ui.grid>.row>.column {
	padding: 0;
}

.ClienteAltaFormHeader {
	padding-bottom: 30px;
}

.FormTitle {
	padding-left: 10px;
}

.ClienteAltaFormFooter {
	margin-top: 10px;
}

.ClienteAltaLeft {
	height: 100%;
	background-image: url("../assets/IMAGEN_DE_RECUADRO.jpg");
	background-size: cover;
}

.ClienteAltaForm {
	background-color: #FFFFFF;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 30px;
}
