/* Modificación de columna del framework semantic */
.ui.grid>.row>.column {
	padding: 0;
}

.ClienteAlta {
	margin-top: 0;
}

.ClienteAltaFormHeader {
	padding-top: 20px;
	padding-bottom: 30px;
}

.FormTitle {
	padding-left: 10px;
}

.ClienteAltaFormFooter {
	margin-top: 20px;
	margin-left: 33%;
}

.ClienteAltaForm {
	background-color: #FFFFFF;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 30px;
}

.ClienteAltaLeft {
	height: 100%;
	background-image: url("../assets/IMAGEN_DE_RECUADRO.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
	position: relative;
	flex-wrap: wrap;
}

.ClienteAltaLeft-Content {
	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
	color: #FFFFFF;
}
