@import url('https://fonts.googleapis.com/css?family=Roboto');

.FormButton-Guardar {
	background-color: #61728C !important;
}

.FormButton-Cancelar {
	background-color: #AAAAAA !important;
}

.FormTitle-Prim {
	color: #61728C;
}

.FormTitle-Sec {
	color: #AAAAAA;
}

.FormTitle {
	padding-top: 20px;
}

.FormTitle h1 span {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	padding-top: 20px;
}

.FormStatus {
	text-align: right;
	margin-right: 30px;
	padding-top: 15px;
	color: #657890;
}

.FormStatus span {
	font-size: 13px;
	font-weight: bold;
}

.PanelFiltradoListado{
	padding-top: 22px;
}

.PanelFiltradoListadoCount{
	font-size: 60px;
	color: #661aff;
}
